body {
 	padding-top: 70px;
  }


.navbar,.navbar-default,.navbar-fixed-top{
  background-color: rgba(255,255,255,.75);
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  border: none;
}

.navbar,.navbar-default,.navbar-fixed-top  div{
  background-color: #000000;
}

 .navbar {
  min-height: 30px;
}

.navbar-brand {
  padding: 0 15px;
  height: 30px;
  line-height: 25px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 5px;
  padding: 3px 0px 0px 0px !important;
}

.navbar-default .navbar-toggle {
  background-color: #fff;
  border: none;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    line-height: 25px;
  }
}

  #video-background{ 
	position: absolute;
  	height: auto;
 	width: auto;
  	min-height: 100%;
  	min-width: 100%;
  	left: 50%;
  	top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
  	transform: translate3d(-50%, -50%, 0);
  	z-index: 1;
}

#heading-text.container {
	text-align: center;
  	position: relative;
  	color: #ccc;
  	z-index: 2; /* Show content above video */
}





[role=button] {
  background: #000000;
  color: #f1c40f;
}